*{
    margin: 0;
    padding: 0;
}

.navContainer{
    background-color: #A71D31;
}

.logoContainer img{
    width: 100px;
    -webkit-user-drag: none;
}

.lista{
    display: flex;
    width: auto;
    flex-direction: row;
    list-style: none;
    user-select: none;
    color: #dced31;
    justify-content: center;
}

.lista li{
    margin-right: 20px;
}

.lista li:hover{
    color: #0CCE6B;
}

.cosas{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.carrito img{
    width: 30px;
    margin-right: 10px;
    user-select: none;
}